@media (max-width: 1400px) {
    .container-lg, .container-xl, .container-xxl, .container-md{
        width: 1170px;
    }
  

}

@media screen and (min-width: 1200px)  {
  .info-card {
    width: 55%;
    margin:0 auto;
  }

}
@media screen and (max-width: 1200px)  {
  .info-card {
    width: 60%;
    margin:0 auto;
  }

}
@media screen and (min-width: 765px) and (max-width: 1000px) {
  .info-card {
    width: 80%;
    margin:0 auto;
  }
  

}
@media screen and (max-width: 765px)  {
  .info-card {
    width: 90%;
    margin:0 auto;
  }
 
}
@media(max-width:768px){
    .logo-name{
       
        margin-left:5px;
        margin-bottom:0;
    }

    .home, .about, .contact{
        display:none;
    }
    .hamburg{ 
      display:inline !important;
    }
    header{ 
        width:100vw;
    }
    header .row{ 
        display:flex;
        justify-content:space-between;
       margin: auto 10px;
       
    }
   
}
@media (max-width: 365px) {
    .logo{
        height:50px;
    }
    .logo-name{
       display:none;
    }
    .toggle{ 
      margin:0 !important;
    }
}